### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [83]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [84]:
Total_player = len(purchase_data ["SN"].value_counts())
Player_count = pd.DataFrame({"Total Players":[Total_player]})
Player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
Item_name = len(purchase_data ["Item Name"].unique())
Average_price = round(purchase_data ["Price"].mean(),2)
Total_purchase = purchase_data ["Price"].count()
Total_revenue = purchase_data ["Price"].sum()
#Total_purchase
#Total_revenue
Purchasing_Analysis_df = pd.DataFrame ({"Number of Unique Items": [Item_name],
                                       "Average Price": [Average_price],
                                       "Number of Purchases": [Total_purchase],
                                        "Total Revenue": [Total_revenue]})
Purchasing_Analysis_df = Purchasing_Analysis_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})
Purchasing_Analysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [86]:
Remove_duplicate_data = purchase_data.drop_duplicates(subset="SN", keep="first")
Remove_duplicate_data
Gender_counts = Remove_duplicate_data["Gender"].value_counts()
Gender_counts
Gender_percent = round(Gender_counts / Total_player * 100, 2)
Gender_percent
Gender_Demographics_df = pd.DataFrame({"Percentage of Players": Gender_percent,
                                        "Total Count": Gender_counts})
Gender_Demographics_df.head()

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
Purchasing_per_gender = purchase_data.groupby("Gender")
Purchasing_per_gender_counts = Purchasing_per_gender["Purchase ID"].count()
Purchasing_per_gender_avrprice = round(Purchasing_per_gender["Price"].mean(),2)
Purchasing_per_gender_avrpurchasetotal = Purchasing_per_gender["Price"].sum()
Purchasing_per_gender_per_person_avepurchasetotal = round(Purchasing_per_gender_avrpurchasetotal/Gender_counts,2)
Purchasing_Analysis_Gender_df = pd.DataFrame({"Purchase Count": Purchasing_per_gender_counts, 
                                    "Average Purchase Price": Purchasing_per_gender_avrprice,
                                    "Average Purchase Value":Purchasing_per_gender_avrpurchasetotal,
                                    "Avg Purchase Total per Person": Purchasing_per_gender_per_person_avepurchasetotal})
Purchasing_Analysis_Gender_df = Purchasing_Analysis_Gender_df.style.format({'Average Purchase Price':"${:,.2f}",
                         'Average Purchase Value': "${:,.2f}", 'Avg Purchase Total per Person': "${:,.2f}"})
Purchasing_Analysis_Gender_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [88]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99.90]
age_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data ["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_label)
purchase_data.head()
age_grouped = purchase_data.groupby("Age Ranges")
total_count_by_age = age_grouped["SN"].nunique()
percentage_by_age = round((total_count_by_age/Total_player) * 100, 2)
Age_demographics = pd.DataFrame({"Total Count": total_count_by_age, "Percentage of Players": percentage_by_age})
Age_demographics

            Total Count  Percentage of Players
Age Ranges
<10                  17                   2.95
10-14                22                   3.82
15-19               107                  18.58
20-24               258                  44.79
25-29                77                  13.37
30-34                52                   9.03
35-39                31                   5.38
40+                  12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
Purchase_count_by_age = age_grouped["Purchase ID"].count()
Purchase_avg_by_age = round(age_grouped["Price"].mean(), 2)
Purchase_total_by_age = age_grouped["Price"].sum()
Avg_purchase_per_person_age = round(Purchase_total_by_age/total_count_by_age, 2)
Purchasing_Analysis_By_Age = pd.DataFrame({"Purchase Count": Purchase_count_by_age,
                                 "Average Purchase Price": Purchase_avg_by_age,
                                 "Total Purchase Value":Purchase_total_by_age,
                                 "Average Purchase Total per Person": Avg_purchase_per_person_age})
Purchasing_Analysis_By_Age = Purchasing_Analysis_By_Age.style.format({'Average Purchase Price':"${:,.2f}",
                         'Total Purchase Value': "${:,.2f}", 'Average Purchase Total per Person': "${:,.2f}"})
Purchasing_Analysis_By_Age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [90]:
spenders_grouped = purchase_data.groupby("SN")
spender_purchase_counts = spenders_grouped["SN"].count()
spender_purchase_aveprice = round (spenders_grouped["Price"].mean(), 2)
spender_purchase_total = spenders_grouped["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count": spender_purchase_counts, "Average Purchase Price": spender_purchase_aveprice,
                             "Total Purchase Value": spender_purchase_total})
top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders.style.format({'Average Purchase Price':"${:,.2f}", 'Total Purchase Value': "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [91]:
reduced_purchase_data = purchase_data[["Item ID", "Item Name", "Price"]]
reduced_purchase_data_grouped = reduced_purchase_data.groupby(["Item ID", "Item Name"])
purchase_count = reduced_purchase_data_grouped["Item Name"].count()
purchase_value = (reduced_purchase_data_grouped["Price"].sum())
item_price = purchase_value/purchase_count
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price,
                                   "Total Purchase Value": purchase_value})
most_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
most_popular_items.style.format({'Item Price':"${:,.2f}", 'Total Purchase Value': "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [92]:
most_popular_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
most_popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16